@font-face {
    font-family: 'NeutraText-Light';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/NeutraText-Light.ttf);
}

.content{
    font-family: 'NeutraText-Light', Verdana, sans-serif;
    box-sizing: border-box;
    float: left;
    padding: 10px;
}


.post-titles{
    background-color: rgba(231, 232, 233,1);
    padding: 15px;
    font-size: 20px;
}
.post-titles:hover {
    background-color: lightgray;
}

.post-titles:last-of-type{
    border-bottom: 3px solid rgba(167,168,168,1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post-titles a{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(78, 47, 145);
}
.post-titles a:visited{
    text-decoration: none;
    color: rgb(78, 47, 145);
}



.content h1{
    background-color: rgba(39, 159, 105, 1);
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    border-bottom: 3px solid rgba(21, 93, 62, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 5px;
}

.content p{
    margin: 0;
}

.content-img {
    width: 50px;
}

.table{
    width: 100%;
    display: table;
    font-size: 18px;
    background-color: rgba(231, 232, 233,1);
    color: rgba(210, 105, 40,1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 3px solid rgba(167,168,168,1);
}

.row{
    display: table-row;
}
.row:hover {
    background-color: lightgray;
}

.cell{
    display: table-cell;
}


.cell p{
    font-size: 18px;
}

.top{
    width: 100%;
    text-align: center;
}

.left{
    width : 20%;
}

.cell{
    padding-left: 15px;
}
body > div.content.left > div > div > div:nth-child(1) > a{
    text-decoration: none;
}
body > div.content.left > div > div > div:nth-child(1) > a > h3{
    color: rgb(78, 47, 145);
}

.post-button {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.post-button a{
    font-size: 20px;
    background-color: #279F69;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    padding: 20px;
    border-radius: 5px;

}

.post-button a:hover {
  background-color: #6BC28E;
}

.center{
    width: 60%;
}

.center p{
    width: 100%;
    font-size: 18px;
    background-color: rgba(231, 232, 233,1);
    color: rgba(210, 105, 40,1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 340px;
    border-bottom: 3px solid rgba(167,168,168,1);
}

.right {
    width: 20%;
}

.right p {
    width: 100%;
    font-size: 30px;
    background-color: rgba(231, 232, 233,1);
    color: rgba(210, 105, 40,1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 340px;
    border-bottom: 3px solid rgba(167,168,168,1);
    padding: 10px;
    box-sizing: border-box;
}

.welcome{
    color: rgba(167,168,168,1);
    margin: 0 auto;
    width: 300px;
    margin-top: 10px;
    display: inline-block;
}

.welcome h1 {
    width: 100%;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
    color: #279F69;
    display: inline-block;
}

.welcome a {
    text-decoration: none;
    font-size: 30px;
    color: tomato;
    display: inline-block;
}

.welcome a:hover {
    color: rgb(78, 47, 145);
}