body{
    background-image: url("../images/backgrond.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: 0 0;

}

main{
    color: #FAF5F1
}


h1{
    padding-left: 30px;
    font-size: 46px;
    margin: 0;
}

h3{
    padding-left: 30px;
}
#head input[type='submit']{
    color: #FAF5F1;
    border-radius: 5px;
    border: 0;
    background-color: darkgreen;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 20px;
}